<div class="dashboard-dg-nav">
  <div class="left-place">
  </div>
  <div class="center-place">
    <div class="d-none d-md-block"> <!-- fecha para displays grandes -->
      <h5>
        <span class="fas fa-chart-line d-none d-lg-block"></span>
        {{HOY | date: 'fullDate'}}
        <!-- Lunes 24 de Septiembre de 2018 -->
      </h5>
    </div>
    <div class="d-block d-md-none"> <!-- fecha para displays medianos y pequeños -->
      <h5>
        {{HOY | date: 'shortDate'}}
        <!-- 24/09/2018 -->
      </h5>
    </div>
  </div>
  <div class="right-place">
    <div class="pull-right">
      <button type="button" class="btn btn-link" (click)="actualizarElNumeroDeServicios()">
        <span class="fas fa-sync-alt"></span>
      </button>
    </div>
  </div>
</div>

<!-- loading div -->
<div class="dashboard-dg-content" *ngIf="!resumen_general">
  <div class="app-loading" style="min-height: inherit; min-width: inherit">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>
</div>
<!-- end loading div -->

<div class="dashboard-dg-content" *ngIf="resumen_general">
  <div style="display: block;">
    <div style="position: relative; margin-left: auto; margin-right: auto; display: table">
      <h1>{{resumen_general.total_servicios}}</h1>
      <span class="badge badge-success" style="position: absolute; bottom: 0; right: -60px;">servicios</span>
    </div>
  </div>
  <div style="display: block; margin-top: 20px">
      <div style="position: relative; margin-left: auto; margin-right: auto; display: table">
        <h1>{{resumen_general.ganancia_total | currency}}</h1>
      </div>
    </div>
  <div style="display: block; margin-top: 20px">
    <h5>
      Complejos
    </h5>
  </div>
  <div class="container" style="overflow: unset !important">
    <div class="dg-rows-wrapper">
      <div class="row">
        <div class="col-6 col-md-4 col-lg-3" *ngFor="let resumen of resumen_general.resumen_complejos">
          <div style="display: block">
            <div style="margin-top: 20px; margin-left: auto; margin-right: auto; display: table; position: relative;"
                  routerLink="/resumen/complejo/{{resumen.complejo.id}}">
                <span class="fas fa-building fa-2x"></span>
                <span class="badge badge-success" style="position: absolute; top: -12px; right: -12px;">{{resumen.total_servicios}}</span>
            </div>
            <div style="margin-top: 10px; margin-left: auto; margin-right: auto; display: table;">
              {{resumen.complejo.nombre}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
