<div class="dashboard-dg-nav">
  <div class="left-place">
    <h5>
      <button type="button" class="btn btn-link mr-auto" routerLink="/resumen/complejo/{{complejo_id}}">
        <span class="fas fa-chevron-left"></span>
      </button>
    </h5>
  </div>
  <div class="center-place">
    <div class="d-none d-md-block"> <!-- fecha para displays grandes -->
      <h5>
        <span class="fas fa-chart-line d-none d-lg-block"></span>
        {{HOY | date: 'fullDate'}}
        <!-- Lunes 24 de Septiembre de 2018 -->
      </h5>
    </div>
    <div class="d-block d-md-none"> <!-- fecha para displays medianos y pequeños -->
      <h5>
        {{HOY | date: 'shortDate'}}
        <!-- 24/09/2018 -->
      </h5>
    </div>
  </div>
  <div class="right-place">
    <div class="pull-right">
      <button type="button" class="btn btn-link" (click)="actualizarElNumeroDeServicios()">
        <span class="fas fa-sync-alt"></span>
      </button>
    </div>
  </div>
</div>
<div class="dashboard-dg-content" *ngIf="complejo && habitacion">
  <div style="display: block;">
    <h5>{{complejo.nombre}}</h5>
    <h5>
      <span [ngClass]="tipos_habitacion.get(habitacion.tipo)"></span>
      {{habitacion.nombre}}
    </h5>
    <span class="badge badge-secondary" *ngIf="habitacion.tipo != 'Servicio'">Disponible</span>
    <span class="badge badge-primary" *ngIf="habitacion.tipo == 'Servicio'">En servicio</span>
  </div>
  <div style="display: block;">
    <div style="position: relative; margin-left: auto; margin-right: auto; display: table">
      <h1>{{total_servicios}}</h1>
      <span class="badge badge-success" style="position: absolute; bottom: 0; right: -60px;">servicios</span>
    </div>
  </div>
  <div style="display: block; margin-top: 20px">
    <div style="position: relative; margin-left: auto; margin-right: auto; display: table">
      <h1>${{ganancia_total}}</h1>
    </div>
  </div>
  <div style="display: block; margin-top: 20px">
    <h5>
      Registros de los dispositivos
    </h5>
  </div>
  <div>
    <div *ngFor="let registro of registros">
      <div class="card mb-3" [ngClass]="obtenerTipoTarjetaRegistro(registro.tipo_evento)">
        <div class="card-header">
          {{registro.fecha_creacion}}
          <div class="pull-right">
            {{registro.tipo_evento.toLowerCase()}}
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{registro.dispositivo_id}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
