/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "~ngx-toastr/toastr.css";

.container {
  min-height: calc(100vh - 132px);
  max-height: calc(100vh - 132px);
  margin-top: 20px;
  overflow: auto;
  max-width: none !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.dashboard-dg-nav {
  padding-right: 15px;
  padding-left: 15px;
  min-height: 56px;
  max-height: 56px;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.dashboard-dg-nav .left-place {
  min-width: 25%;
  max-width: 25%;
  display:inline-block;
  vertical-align: top;
}

.dashboard-dg-nav .center-place {
  min-width: 50%;
  max-width: 50%;
  max-height: inherit;
  min-height: inherit;
  text-overflow: ellipsis;
  text-align: center;
  display:inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.dashboard-dg-nav .right-place {
  min-width: 25%;
  max-width: 25%;
  display:inline-block;
  vertical-align: top;
}

.dashboard-dg-content {
  padding-right: 15px;
  padding-left: 15px;
  min-height: calc(100vh - 189px);
  max-height: calc(100vh - 189px);
  width: 100%;
  overflow: auto;
}
